.list {
    padding-top: 10px;
    .list-item {
        padding:16px;
        display: block;
        text-decoration: none;
        cursor: pointer;
        @extend .clearfix;
        & .initial {
            width: 48px;
            color: $dft-text-icon-color;
            font-size: 24px;
            line-height: 48px;
            text-align: center;
            position: relative;
            background: $dft-accent-color;
            height: 48px;
            @include border-radius(50%);
        }
        
        & .title {
            @include ty-body2;
        }
        
        & .description {
            color: $dft-secondary-text;
        }
        
        &:hover {
            background: $color-grey-200;
            @include box-shadow-z1;
        }
    }
}