$dft-dark-primary-color : #1976D2;
$dft-primary-color: #2196F3;
$dft-light-primary-color: #BBDEFB;
$dft-50-primary-color: #E3F2FD;
$dft-text-icon-color : #FFFFFF;
$dft-accent-color : #E91E63;
$dft-primary-text : #212121;
$dft-secondary-text: #727272;
$dft-divider-color : #B6B6B6;
